*{
    margin: 0;
    font-family: "inter";
}

#DivTopo{
    background: #303030;
}

.texto{
    color: #FFFFFF;
}

#Titulo-Topo{
    padding: 190px 40px 18px 50px;
    font-size: 60px;
    font-weight: 500;

}

#Texto-Topo{
    margin-left: 43px;
    margin-top: 2px;
    padding: 0px 0px 180px 10px;
    font-size: 20px;
}

#Dados{
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    background: #F9F9F9;
    align-items: center;
    display: flex;
}

#texto2{
    font-size: 30px;
    color: black;
    font-weight: 700;
    padding: 89px 0px 0px 180px;
}
#sub-texto{
    color: black;
    font-size: 20px;
    padding: 0px 0px 60px 180px;
}
